.test {
  display: flex !important;
  justify-content: flex-end !important;
  margin-right: 0.5rem !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

a {
  text-decoration: none !important;
}

* {
  margin: 0.5rem;
}
.n-ame {
  font-weight: 600;
}
button {
  background-color: rgb(47, 77, 207) !important;
  border: none !important;
  outline: none;
  border-radius: 0.3rem !important;
  padding: 0.2rem 2rem !important;
}
button:hover {
  background-color: rgb(14, 37, 110) !important;
}
.btn-moved {
  position: relative;
  bottom: 2.8rem;
  left: 16rem;
}
